<div class="banner mb-5">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
    <p><%= link_to 'Back to Cocktails', root_path %></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-7">
      <% unless @doses.count == 0 %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Quantity</th>
              <th scope="col">Ingredient</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <% @doses.each do |dose| %>
              <tr>
                <td><%= dose.description %></td>
                <td><%= dose.ingredient.name %></td>
                <td><%= link_to 'X', dose_path(dose), method: :delete %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>Add some ingredients!</p>
      <% end %>
    </div>
    <div class="col-12 col-lg-5">
      <h3>Add Ingredients</h2>
      <%= simple_form_for [@cocktail, @new_dose] do |f| %>
        <%= f.input :description, label:"Quantity" %>
        <%= f.association :ingredient %>
        <%= f.button :submit, class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
